.App {
  text-align: center;
}

.App-header {
  margin: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}
